/*==================== MODALS ====================*/

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: flex;
  align-items: center;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

.modal__container {
  background-color: var(--bg-color);
  width: 70%;
  max-width: 700px;
  height: 500px;
  display: flex;
  margin: 0 auto;
  border: var(--border);
}

/*==================== RIGHT ====================*/

.modal__right {
  width: 50%;
  background-image: url("../img/modal1.jpg");
  background-position: center;
  background-size: cover;
  border-left: var(--border);
}

/*==================== LEFT ====================*/

.modal__left {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 2rem;
  row-gap: 2rem;
}

.modal__close {
  position: absolute;
  font-size: var(--h1-font-size);
  margin-bottom: 2rem;
  cursor: pointer;
  top: 1rem;
  left: 1rem;
}

.modal__close:hover {
  color: var(--light-color);
}

.modal__icon {
  font-size: var(--h1-font-size);
  margin-bottom: 1rem;
}

.modal__title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.modal__img-container {
  width: 100%;
  border-left: var(--border);
}

.modal__img {
  width: 100%;
  object-fit: contain;
}
.active-modal {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 769px) {
  .modal__container {
    width: 90%;
  }
  .modal__title {
    font-size: 1rem;
  }
  .modal__left {
    padding: 6rem 1rem;
  }

  .modal__subtitle {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 569px) {
  .modal__container {
    height: 400px;
  }

  .modal__left {
    width: 100%;
  }
  .modal__right {
    display: none;
  }
}
