/*==================== NAV ====================*/

.header {
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  z-index: 100;
}

.nav__container {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border);
  border-top: var(--border);
}

.nav__logo-container {
  height: inherit;
  border-right: var(--border);
  display: flex;
  align-items: center;
}

.nav__logo {
  font-family: "Playfair Display", serif;
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
  text-align: center;
  margin: 0 2rem;
  transition: 0.2s ease-in;
}

.nav__logo:hover {
  color: var(--light-color);
}
.nav__menu {
  height: inherit;
  margin-left: auto;
  display: flex;
}

.nav__list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav__link {
  margin-right: 2rem;
  color: var(--text-color);
  font-weight: var(--font-medium);
  letter-spacing: 1px;
  transition: 0.2s ease-in;
}

.nav__link:hover {
  color: var(--light-color);
}

.nav__buttons {
  display: flex;
  height: inherit;
}

.nav__btn {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: var(--border);
}

.nav__btn i {
  color: var(--text-color);
  padding: 0 1rem;
  font-size: var(--h2-font-size);
  cursor: pointer;
  transition: 0.2s ease-in;
}

.nav__btn i:hover {
  color: var(--light-color);
}

#nav__menu__button {
  visibility: hidden;
}

.active-link {
  color: var(--light-color);
}

/*==================== MEDIA QUERIES ====================*/

/*==================== MEDIUM DEVICES ====================*/

@media screen and (max-width: 769px) {
  .nav__menu {
    position: absolute;
    width: 100%;
    top: -1000%;
    transition: 0.3s;
  }

  .nav__list {
    text-align: center;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    background-color: var(--bg-color);
  }

  .nav__item {
    padding: 0.7rem;
    border-bottom: var(--border);
  }

  .nav__link {
    letter-spacing: 2px;
    margin: 0;
  }

  #nav__menu__button {
    visibility: visible;
  }

  .nav_menu-mobile {
    top: 100%;
  }
}

@media screen and (max-width: 350px) {
  .nav__container{
    justify-content: flex-end;
  }
  .nav__logo-container {
    flex-grow: 1;
    border-right: none;
    justify-content: center;
  }
  .nav__logo {
    margin: 0;
  }
}