/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES ====================*/
:root {
  /* Color theme */
  --bg-color: #eae3d9;
  --text-color: #474747;
  --light-color: #f9f7f4;

  /* Font */
  --body-font: "Poppins", sans-serif;
  /* Font sizes */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  /* Font weight */
  --font-medium: 400;
  --font-semi-bold: 600;

  /* border */
  --border: 0.1rem solid var(--text-color);
}

/*==================== DARK THEME ====================*/
.dark-theme {
  --bg-color: #474747;
  --text-color: #eae3d9;
  --light-color: #f9f7f4;
  --border: 0.1rem solid #eae3d9;
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.page__container {
  border-right: var(--border);
  border-left: var(--border);
  border-bottom: var(--border);
  margin: 3rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section__title {
  border-bottom: var(--border);
  border-top: var(--border);
  padding: 0.5rem 1rem;
  font-size: var(--h2-font-size);
}

.button {
  border: var(--border);
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--text-color);
  transition: 0.2s;
}

.button:hover {
  color: var(--light-color);
}

.button-name {
  padding: 0.5rem 1rem;
  border-right: var(--border);
  letter-spacing: 2px;
  font-size: var(--smaller-font-size);
}

.button-icon {
  font-size: var(--h3-font-size);
  padding: 0 0.6rem;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
}

/*==================== SCROLL TOP ====================*/

.scroll__top {
  position: fixed;
  right: 2rem;
  bottom: -20%;
  background-color: var(--bg-color);
  border: var(--border);
  z-index: 10;
  transition: 0.4s;
  color: var(--text-color);
  padding: 0 0.3rem;
}

.scroll__top:hover {
  transform: translateY(-0.5rem);
}

.scroll__top-icon {
  font-size: var(--h1-font-size);
}

.show-scroll {
  bottom: 20%;
}


/*==================== MEDIA QUERIES ====================*/

/*==================== MEDIUM DEVICES ====================*/

@media screen and (max-width: 1200px) {
    .page__container {
      margin: 1rem;
    }

}