/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES ====================*/
:root {
  /* Color theme */
  --bg-color: #eae3d9;
  --text-color: #474747;
  --light-color: #f9f7f4;

  /* Font */
  --body-font: "Poppins", sans-serif;
  /* Font sizes */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  /* Font weight */
  --font-medium: 400;
  --font-semi-bold: 600;

  /* border */
  --border: 0.15rem solid var(--text-color);
}

/*==================== DARK THEME ====================*/
.dark-theme {
  --bg-color: #474747;
  --text-color: #eae3d9;
  --light-color: #f9f7f4;
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.page__container {
  border: var(--border);
  margin: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
/* .section {

}

.section__title {

} 
*/
    


/*==================== NAV ====================*/
.nav__container {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border);
}

.nav__logo-container {
  height: inherit;
  border-right: var(--border);
  display: flex;
  align-items: center;
}

.nav__logo {
  color: var(--text-color);
  font-weight: var(--font-medium);
  text-align: center;
  margin: 0 2rem;
}

.nav__logo:hover {
    color: var(--light-color);
}
.nav__menu {
    height: inherit;
    margin-left: auto;
    display: flex;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__link {
    margin-right: 2rem;
    color: var(--text-color);
    font-weight: var(--font-medium);
}

.nav__link:hover{
    color: var(--light-color);
}

.nav__btn {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: var(--border);
}

.nav__btn i {
    color: var(--text-color);
    padding: 0 1rem;
    font-size: var(--h2-font-size);
    cursor: pointer;
}

.nav__btn i:hover{
    color: var(--light-color);
}


